<header class="site-header">
  <div class="container">
    <div class="header-bar">
      <a routerLink="/" class="branding">
        <img src="/assets/images/logo.png" alt="" height="65" class="logo">
        <div class="logo-type">
          <h1 class="site-title">PIRAT</h1>
          <small class="site-description">Pandemic Important Resource Allocation Tool</small>
        </div>
      </a>

      <nav class="main-navigation">
        <div class="header-menu">

          <div class="lang-switcher">
            <div ngbDropdown class="d-inline-block">
              <button
                class="btn btn-light lang-switcher__option"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                <img src="/assets/images/region_icons/{{ this.currentRegionLangOption.icon }}">
                {{ this.currentRegionLangOption.label }}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  class="lang-switcher__option"
                  *ngFor="let rl of regionLangOptions"
                  ngbDropdownItem
                  (click)="changeRegionOrLang(rl.href)"
                >
                  <img src="/assets/images/region_icons/{{ rl.icon }}"> {{ rl.label }}
                </button>
              </div>
            </div>
          </div>
          <div class="header-menu__link home {{ url === '/' ? 'current-menu-item' : '' }}">
            <a routerLink="/"><img src="/assets/images/home-icon.png" alt="Home"></a>
          </div>
          <div class="header-menu__link {{ url === '/contact' ? 'current-menu-item' : '' }}">
            <a routerLink="/contact" i18n="@@menu_contact">Contact</a>
          </div>
          <div class="header-menu__link {{ url === '/about' ? 'current-menu-item' : '' }}">
            <a routerLink="/about" i18n="@@menu_about">About us</a>
          </div>
          <div class="header-menu__link {{ url === '/faq' ? 'current-menu-item' : '' }}">
            <a routerLink="/faq" i18n="@@menu_faq">FAQ</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>



<div class="development-warning centered-block" *ngIf="!isProduction()">
  <span i18n="@@_underDevelopmentNote">
    This page is internal and serves development purposes. The actual website can be found under
  </span>
  <a href="https://pirat-tool.com"> https://pirat-tool.com</a>.
</div>
