/*!
 * Project_Name: Science Labs
 * Author: Themezy
 * Email: contact@themezy.com
 * Url: http://www.themezy.com
 */

/*===========================================
 * Importing CSS Libraries
 *===========================================*/
 @import 	"libs/settings",
 			"libs/mixins",
 			"libs/normalize",
 			"libs/global",
 			"libs/components",

 			// importing bootstrap grid framework
 			"libs/bootstrap-grid/settings",
 			"libs/bootstrap-grid/mixins",
 			"libs/bootstrap-grid/grid",

			// importing layout styles
 			"layout/header",
 			"layout/content",
 			"layout/footer";


/*===========================================
 * General Project Styles
 *===========================================*/

input[disabled], select[disabled] {
	cursor: not-allowed;
}

.form-block {
	max-width: 768px;
	margin: 0 auto 35px;
	padding: 50px 7.5%;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 2px 2px 6px 2px #ccc;
	position: relative;

	&--full-width {
		max-width: initial;
	}
}


.form-block__label {
	font-weight: bold;
	margin-bottom: 7px;

	button {
		background: none;
		border: none;
		outline: none;
	}
}


.form-block__headline {
	margin-top: 10px;
	text-align: center;
}


.form-block__boxes {
	label {
		position: relative;
		display: block;

		span {
			margin-left: 17px;
		}
	}
	input[type=radio] {
		position: absolute;
		left: 0;
		top: 4px;
	}
}


.form-block__input-field {
	position: relative;
	margin: 27px 0;

	input, textarea {
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		border: none;

		width: 100%;
		height: 30px;
		padding-left: 7px;
		margin-bottom: 5px;

		&:focus {
			outline: none;

			&+.input-field-focus::after {
				width: 100%;
			}
		}

		&::placeholder {
			white-space: normal;
		}

		&:disabled {
			background: none;
		}
	}

	textarea {
		min-height: 60px;
	}

	label {
		text-transform: uppercase;
		font-size: 75%;
		padding-left: 2px;
		display: inline-block;
	}

	.input-field-focus {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		border-bottom: 2px solid #d9d9d9;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0;
			height: 2px;
			background: #69acc7;

			-webkit-transition: all .3s;
			-moz-transition:    all .3s;
			transition:         all .3s;
		}
	}

	.form-alert {
		position: absolute;
		bottom: -16px;
		left: 5px;
		font-size: 10px;
		margin: 0;
	}

	&.half-input {
		display: inline-block;
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
	}
}

.form-block__input-wrapper {
	position: relative;

	label {
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -5px;
		span{
			font-weight: bold;
			font-size: 1.5em;

			&.form-alert {
				position: absolute;
				top: 33px;
				left: 0;
				font-size: 10px;
			}
		}
	}
}


.form-block__select {
	margin: 15px 0;

	span {
		display: block;
		margin-bottom: 5px;
	}

	label {
		display: block;
		margin-bottom: 5px;
		text-transform: uppercase;
		font-size: 75%;
		padding-left: 2px;
	}

	select {
		width: 100%;
		max-width: 250px;
		height: 30px;
		padding: 5px;
		border-radius: 3px;
		border: 1px solid #8e9ca5
	}
}


.form-block__edit-buttons {
	position: absolute;
	right: 30px;
	top: 30px;

	button {
		margin-left: 10px;
		border: 1px solid;
		padding: 4px;
		font-size: small;
		border-radius: 2px;
		background: none;
	}
}


button.form-block__edit-buttons__edit {
	border-color: #2828af;

	&:hover {
		background: #67caf1;
	}
}


button.form-block__edit-buttons__reset {
	border-color: red;

	&:hover {
		background: #ff8585;
	}
}


button.form-block__edit-buttons__save {
	border-color: green;

	&:hover {
		background: #6bef93;
	}
}


.align-center {
	max-width: 768px;
	margin: 0 auto;

	&-text {
		text-align: center;
	}
}

.form-alert {
	margin-left: 5px;
	font-weight: bold;
	color: red;
	font-size: 10px;
}


.submit-button {
	button[disabled],
	button[disabled]:hover,
	button[disabled]:focus,
	button[disabled]:active{
		background-color: gray;
		box-shadow: none;
		color: #444e55;
	}
}


.button-bar {
	button {
		margin: 0 0 10px 10px;
	}

	.active {
		background: #69acc7;
		color: white;
		font-weight: bold;
	}

	margin-bottom: 30px;
}


h2 {
	font-size: 2.5em!important;
	font-weight: 300!important;
	margin-bottom: 30px!important;
}

h3 {
	font-size: 2em!important;
	font-weight: 700!important;
	margin-bottom: 30px!important;
}


.long-static-text {
	h2 {
		font-size: 2em!important;
		margin-bottom: 30px!important;
		font-weight: 300!important;
	}

	h3 {
		font-size: 1.17em!important;
		font-weight: 300!important;
	}

	ul, ol {
		margin-left: 30px;
		margin-bottom: 20px;
	}
}

