<div class="page-head">
  <div class="container">
    <h2 class="page-title" i18n>Angebotsübersicht</h2>
  </div>
</div>

<main class="main-content" *ngIf="data">
  <div class="fullwidth-block">
    <div class="container">

      <div *ngIf="isNew" class="info-box" i18n>
        Das Angebot wurde erfasst. Auf dieser Seite können Sie Ihre Daten einsehen. Eine Bestätigung
        wurde Ihnen auch per Email zugeschickt.
      </div>

      <div class="current-url">
        <div i18n>
          Mit diesem Link kommen Sie auf diese Seite, um Ihr Angebot einsehen zu können. Bitte bewahren Sie ihn auf.
          <br>
          Bitte kontaktieren Sie uns via Email mit Angabe dieses Links, um ihr Angebot zu löschen oder zu bearbeiten.
        </div>
        <div class="form-block__input-field">
          <div class="value-field">{{ currentUrl }}</div>
        </div>
      </div>

      <div class="form-block">
        <h3 class="form-block__headline" i18n="@@contactData">
          Kontaktdaten
        </h3>
        <div class="form-block__edit-buttons">
          <button class="form-block__edit-buttons__edit" i18n="@@edit_withSymbol"
                  *ngIf="!isInEditMode.provider" (click)="enterEditModeProvider()">
            🖊️ Bearbeiten
          </button>
          <button class="form-block__edit-buttons__reset" i18n="@@resetChanges_withSymbol"
                  *ngIf="isInEditMode.provider" (click)="resetProvider()">
            🗑️ Änderungen verwerfen
          </button>
          <button class="form-block__edit-buttons__save" i18n="@@saveChanges_withSymbol"
                  *ngIf="isInEditMode.provider" (click)="saveProvider()">
            💾️ Speichern
          </button>
        </div>
        <div class="form-block__input-field">
          <label i18n="@@institution">
            Institution
          </label>
          <input type="text" [(ngModel)]="data.provider.institution" [disabled]="!isInEditMode.provider">
          <span class="input-field-focus"></span>
        </div>

        <div class="form-block__input-field">
          <label i18n="@@name">
            Name
          </label>
          <input type="text" [(ngModel)]="data.provider.name" [disabled]="!isInEditMode.provider">
          <span class="input-field-focus"></span>
        </div>

        <div class="form-block__input-field">
          <label i18n="@@emailAddress">
            E-Mail Adresse
          </label>
          <input type="text" [value]="data.provider.mail" disabled>
          <span class="input-field-focus"></span>
        </div>

        <div class="form-block__input-field">
          <label i18n="@@phoneNumber">
            Telefonnummer
          </label>
          <input type="text" [(ngModel)]="data.provider.phone" [disabled]="!isInEditMode.provider">
          <span class="input-field-focus"></span>
        </div>

        <div class="form-block__input-wrapper">
          <label>
            <span i18n="@@address">Adresse</span>
          </label>
          <div class="form-block__input-field">
            <label i18n="@@street">
              Straße
            </label>
            <input type="text" [(ngModel)]="data.provider.address.street" [disabled]="!isInEditMode.provider">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@streetNumber">
              Hausnummer
            </label>
            <input type="text" [(ngModel)]="data.provider.address.streetNumber" [disabled]="!isInEditMode.provider">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@postalCode">
              PLZ
            </label>
            <input type="text" [(ngModel)]="data.provider.address.postalCode" [disabled]="!isInEditMode.provider">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@city">
              Stadt
            </label>
            <input type="text" [(ngModel)]="data.provider.address.city" [disabled]="!isInEditMode.provider">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@country">
              Land
            </label>
            <input type="text" [value]="data.provider.address.country" disabled>
            <span class="input-field-focus"></span>
          </div>
        </div>
      </div>

      <div *ngFor="let r of data.resources; let gIndex = index">
        <div *ngIf="r.type === 'personnel'" class="form-block">
          <h3 class="form-block__headline" i18n="@@helper">
            Helfer
          </h3>
          <div class="form-block__edit-buttons">
            <button class="form-block__edit-buttons__edit" i18n="@@edit_withSymbol"
                    *ngIf="!isInEditMode.resources[gIndex]" (click)="enterEditModeResource(gIndex)">
              🖊️ Bearbeiten
            </button>
            <button class="form-block__edit-buttons__reset" i18n="@@resetChanges_withSymbol"
                    *ngIf="isInEditMode.resources[gIndex]" (click)="resetResource(gIndex)">
              🗑️ Änderungen verwerfen
            </button>
            <button class="form-block__edit-buttons__save" i18n="@@saveChanges_withSymbol"
                    *ngIf="isInEditMode.resources[gIndex]" (click)="saveResource(gIndex)">
              💾️ Speichern
            </button>
          </div>
          <div class="form-block__select">
            <label>
              <span i18n="@@qualification">Qualifikation</span>
            </label>
            <select [(ngModel)]="toP(r).qualification" [disabled]="!isInEditMode.resources[gIndex]">
              <option
                *ngFor="let qualification of getEnumValues(PersonnelQualification)"
                [value]="qualification"
                [selected]="qualification === toP(r).qualification">
                {{ personnelQualificationTo[qualification] }}
              </option>
            </select>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@institution">
              Institution
            </label>
            <input type="text" [(ngModel)]="toP(r).institution" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@postalCodeOfLocation">
              Postleitzahl des Standortes
            </label>
            <input type="text" [(ngModel)]="toP(r).address.postalCode" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@researchGroup">
              Forschungsgruppe
            </label>
            <input type="text" [(ngModel)]="toP(r).researchGroup" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__select">
            <label i18n="@@area">
              Bereich
            </label>
            <select [(ngModel)]="toP(r).area">
              <option *ngFor="let area of getEnumValues(PersonnelArea)" [value]="area">
                {{ personnelAreaTo[area] }}
              </option>
            </select>
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__select">
            <div i18n="@@_questionExperienceWithPCR">Haben Sie Erfahrung in der Durchführung von PCR und Real-Time PCR?</div>
            <select [(ngModel)]="toP(r).experienceWithPCR" [disabled]="!isInEditMode.resources[gIndex]">
              <option [value]="true" i18n="@@yes">Ja</option>
              <option [value]="false" i18n="@@no">Nein</option>
            </select>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@comments_s1s">
              Anmerkungen (z.B. S1 oder S2-Unterweisung vorhanden, medizinische Qualifikation zur Abstrichentnahme vorhanden)
            </label>
            <textarea [disabled]="!isInEditMode.resources[gIndex]" [(ngModel)]="toP(r).notes"></textarea>
            <span class="input-field-focus"></span>
          </div>
          <div>
            <input type="checkbox" checked disabled>
            <label i18n="@@_declarationVoluntaryWork">
              Hiermit wird bestätigt, dass der Helfer die Tätigkeit ehrenamtlich außerhalb der Arbeitszeiten ausführt.
            </label>
          </div>
          <div class="resource-delete-buttons">
            <button (click)="deleteResource(gIndex, 'ALLOCATED_THROUGH_PIRAT')">
              🗑️ Löschen: Ressourcen wurden über PIRAT vergeben
            </button>
            <button (click)="deleteResource(gIndex, 'ALLOCATED_THROUGH_ANOTHER_CHANNEL')">
              🗑️ Löschen: Ressourcen wurden über einen anderen Kanal vergeben
            </button>
            <button (click)="deleteResource(gIndex, 'DO_NOT_WANT_OFFER_ANYMORE')">
              🗑️ Löschen: Ressourcen sollen nicht mehr angeboten werden.
            </button>
            <button (click)="deleteResource(gIndex, 'OTHERS')">
              🗑️ Löschen: Sonstiges
            </button>
          </div>
        </div>

        <div *ngIf="r.type === 'device'" class="form-block">
          <h3 class="form-block__headline" i18n="@@device">
            Gerät
          </h3>
          <div class="form-block__edit-buttons">
            <button class="form-block__edit-buttons__edit" i18n="@@edit_withSymbol"
                    *ngIf="!isInEditMode.resources[gIndex]" (click)="enterEditModeResource(gIndex)">
              🖊️ Bearbeiten
            </button>
            <button class="form-block__edit-buttons__reset" i18n="@@resetChanges_withSymbol"
                    *ngIf="isInEditMode.resources[gIndex]" (click)="resetResource(gIndex)">
              🗑️ Änderungen verwerfen
            </button>
            <button class="form-block__edit-buttons__save" i18n="@@saveChanges_withSymbol"
                    *ngIf="isInEditMode.resources[gIndex]" (click)="saveResource(gIndex)">
              💾️ Speichern
            </button>
          </div>
          <div class="form-block__select">
            <label>
              <span i18n="@@category">Kategorie</span>
            </label>
            <select [(ngModel)]="toD(r).category" disabled>
              <option [value]="toD(r).category" selected>
                {{ deviceCategoryToDE[toD(r).category] }}
              </option>
            </select>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@exactName">
              Exakte Materialbezeichnung
            </label>
            <input type="text" [(ngModel)]="toD(r).name" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@manufacturer">
              Hersteller
            </label>
            <input type="text" [(ngModel)]="toD(r).manufacturer" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@orderOrSerialNumber">
              Bestell- oder Seriennummer
            </label>
            <input type="text" [(ngModel)]="toD(r).orderNumber" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@postalCodeOfLocation">
              Postleitzahl des Standortes
            </label>
            <input type="text" [(ngModel)]="toD(r).address.postalCode" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@amount">
              Menge
            </label>
            <div class="amount-setting">
              <button (click)="toD(r).amount = toD(r).amount + 1">+</button>
              <span>{{ toD(r).amount }}</span>
              <button (click)="toD(r).amount = toD(r).amount - 1" [disabled]="toD(r).amount <= 1">-</button>
              <br *ngIf="toD(r).amount !== toD(savedData.resources[gIndex]).amount" />
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount > toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex)"
              >
                💾️ Menge erhöhen
              </button>
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount < toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex, 'ALLOCATED_THROUGH_PIRAT')"
              >
                💾️ Menge verringern: Ressourcen wurden über PIRAT vermittelt
              </button>
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount < toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex, 'ALLOCATED_THROUGH_ANOTHER_CHANNEL')"
              >
                💾️ Menge verringern: Ressourcen wurden über einen anderen Weg vermittelt
              </button>
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount < toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex, 'DO_NOT_WANT_OFFER_ANYMORE')"
              >
                💾️ Menge verringern: Ressourcen sollen nicht mehr angeboten werden.
              </button>
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount < toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex, 'OTHERS')"
              >
                💾️ Menge verringern: Sonstiges
              </button>
            </div>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@comments">
              Anmerkungen
            </label>
            <textarea [disabled]="!isInEditMode.resources[gIndex]" [(ngModel)]="toD(r).notes"></textarea>
            <span class="input-field-focus"></span>
          </div>
          <div class="resource-delete-buttons">
            <button (click)="deleteResource(gIndex, 'ALLOCATED_THROUGH_PIRAT')" i18n>
              🗑️ Löschen: Ressourcen wurden über PIRAT vergeben
            </button>
            <button (click)="deleteResource(gIndex, 'ALLOCATED_THROUGH_ANOTHER_CHANNEL')" i18n>
              🗑️ Löschen: Ressourcen wurden über einen anderen Kanal vergeben
            </button>
            <button (click)="deleteResource(gIndex, 'DO_NOT_WANT_OFFER_ANYMORE')" i18n>
              🗑️ Löschen: Ressourcen sollen nicht mehr angeboten werden.
            </button>
            <button (click)="deleteResource(gIndex, 'OTHERS')" i18n>
              🗑️ Löschen: Sonstiges
            </button>
          </div>
        </div>

        <div *ngIf="r.type === 'consumable'" class="form-block">
          <h3 class="form-block__headline" i18n="@@consumable">
            Verbrauchsmaterial
          </h3>
          <div class="form-block__edit-buttons">
            <button class="form-block__edit-buttons__edit" i18n="@@edit_withSymbol"
                    *ngIf="!isInEditMode.resources[gIndex]" (click)="enterEditModeResource(gIndex)">
              🖊️ Bearbeiten
            </button>
            <button class="form-block__edit-buttons__reset" i18n="@@resetChanges_withSymbol"
                    *ngIf="isInEditMode.resources[gIndex]" (click)="resetResource(gIndex)">
              🗑️ Änderungen verwerfen
            </button>
            <button class="form-block__edit-buttons__save" i18n="@@saveChanges_withSymbol"
                    *ngIf="isInEditMode.resources[gIndex]" (click)="saveResource(gIndex)">
              💾️ Speichern
            </button>
          </div>
          <div class="form-block__select">
            <label>
              <span i18n="@@category">Kategorie</span>
            </label>
            <select [(ngModel)]="toC(r).category" disabled>
              <option [value]="toC(r).category" selected>
                {{ consumableCategoryTo[toC(r).category] }}
              </option>
            </select>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@exactName">
              Exakte Materialbezeichnung
            </label>
            <input type="text" [(ngModel)]="toC(r).name" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@manufacturer">
              Hersteller
            </label>
            <input type="text" [(ngModel)]="toC(r).manufacturer" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@orderOrSerialNumber">
              Bestell- oder Seriennummer
            </label>
            <input type="text" [(ngModel)]="toC(r).orderNumber" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@postalCodeOfLocation">
              Postleitzahl des Standortes
            </label>
            <input type="text" [(ngModel)]="toC(r).address.postalCode" [disabled]="!isInEditMode.resources[gIndex]">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@amount">
              Menge
            </label>
            <div class="amount-setting">
              <button (click)="toD(r).amount = toD(r).amount + 1">+</button>
              <span>{{ toD(r).amount }}</span>
              <button (click)="toD(r).amount = toD(r).amount - 1" [disabled]="toD(r).amount <= 1">-</button>
              <br *ngIf="toD(r).amount !== toD(savedData.resources[gIndex]).amount" />
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount > toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex)"
              >
                💾️ Menge erhöhen
              </button>
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount < toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex, 'ALLOCATED_THROUGH_PIRAT')"
              >
                💾️ Menge verringern: Ressourcen wurden über PIRAT vermittelt.
              </button>
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount < toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex, 'ALLOCATED_THROUGH_ANOTHER_CHANNEL')"
              >
                💾️ Menge verringern: Ressourcen wurden über einen anderen Weg vermittelt.
              </button>
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount < toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex, 'DO_NOT_WANT_OFFER_ANYMORE')"
              >
                💾️ Menge verringern: Ressourcen sollen nicht mehr angeboten werden.
              </button>
              <button
                class="form-block__edit-buttons__save" i18n
                *ngIf="toD(r).amount < toD(savedData.resources[gIndex]).amount"
                (click)="editResourceAmount(gIndex, 'OTHERS')"
              >
                💾️ Menge verringern: Sonstiges
              </button>
            </div>
          </div>
          <div class="form-block__select">
            <select [(ngModel)]="toC(r).unit" [disabled]="!isInEditMode.resources[gIndex]">
              <option
                *ngFor="let unit of getEnumValues(Unit)"
                [value]="unit"
                [selected]="unit === toC(r).unit">
                {{ unitTo[unit] }}
              </option>
            </select>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@comments">
              Anmerkungen
            </label>
            <textarea [disabled]="!isInEditMode.resources[gIndex]" [(ngModel)]="toC(r).notes"></textarea>
            <span class="input-field-focus"></span>
          </div>
          <div class="resource-delete-buttons">
            <button (click)="deleteResource(gIndex, 'ALLOCATED_THROUGH_PIRAT')" i18n>
              🗑️ Löschen: Ressourcen wurden über PIRAT vergeben
            </button>
            <button (click)="deleteResource(gIndex, 'ALLOCATED_THROUGH_ANOTHER_CHANNEL')" i18n>
              🗑️ Löschen: Ressourcen wurden über einen anderen Kanal vergeben
            </button>
            <button (click)="deleteResource(gIndex, 'DO_NOT_WANT_OFFER_ANYMORE')" i18n>
              🗑️ Löschen: Ressourcen sollen nicht mehr angeboten werden.
            </button>
            <button (click)="deleteResource(gIndex, 'OTHERS')" i18n>
              🗑️ Löschen: Sonstiges
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
