<div class="page-head">
  <div class="container">
    <h2 class="page-title" i18n>Angebotsübersicht</h2>
  </div>
</div>

<main class="main-content" *ngIf="data">
  <div class="fullwidth-block">
    <div class="container">

      <div *ngIf="isNew" class="info-box" i18n>
        Das Angebot wurde erfasst. Auf dieser Seite können Sie Ihre Daten einsehen. Eine Bestätigung
        wurde Ihnen auch per Email zugeschickt.
      </div>

      <div class="current-url">
        <div i18n>
          Mit diesem Link kommen Sie auf diese Seite, um Ihr Angebot einsehen zu können. Bitte bewahren Sie ihn auf.
          <br>
          Bitte kontaktieren Sie uns via Email mit Angabe dieses Links, um ihr Angebot zu löschen oder zu bearbeiten.
        </div>
        <div class="form-block__input-field">
          <div class="value-field">{{ currentUrl }}</div>
        </div>
      </div>

      <div class="form-block">
        <div class="form-block__headline" i18n="@@contactData">
          Kontaktdaten
        </div>
        <div class="form-block__input-field">
          <label i18n="@@institution">
            Institution
          </label>
          <input type="text" value="{{ data.provider.institution }}">
          <span class="input-field-focus"></span>
        </div>

        <div class="form-block__input-field">
          <label i18n="@@name">
            Name
          </label>
          <input type="text" value="{{ data.provider.name }}">
          <span class="input-field-focus"></span>
        </div>

        <div class="form-block__input-field">
          <label i18n="@@emailAddress">
            E-Mail Adresse
          </label>
          <input type="text" value="{{ data.provider.mail }}" disabled>
          <span class="input-field-focus"></span>
        </div>

        <div class="form-block__input-field">
          <label i18n="@@phoneNumber">
            Telefonnummer
          </label>
          <input type="text" value="{{ data.provider.phone }}">
          <span class="input-field-focus"></span>
        </div>

        <div class="form-block__input-wrapper">
          <label>
            <span i18n="@@address">Adresse</span>
          </label>
          <div class="form-block__input-field">
            <label i18n="@@street">
              Straße
            </label>
            <input type="text" value="{{ data.provider.address.street }}">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@streetNumber">
              Hausnummer
            </label>
            <input type="text" value="{{ data.provider.address.streetNumber }}">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@postalCode">
              PLZ
            </label>
            <input type="text" value="{{ data.provider.address.postalCode }}">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@city">
              Stadt
            </label>
            <input type="text" value="{{ data.provider.address.city }}">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@country">
              Land
            </label>
            <input type="text" value="{{ data.provider.address.country }}" disabled>
            <span class="input-field-focus"></span>
          </div>
        </div>
      </div>

      <div *ngFor="let r of data.resources; let gIndex = index">
        <div *ngIf="r.type === 'personnel'" class="form-block">
          <div class="form-block__select">
            <label>
              <span i18n="@@qualification">Qualifikation</span>
            </label>
            <select [(ngModel)]="toP(r).qualification">
              <option *ngFor="let qualification of getEnumValues(PersonnelQualification)" [value]="qualification" [selected]="qualification === personnelQualificationToDE[toP(r).qualification]">
                {{ personnelQualificationToDE[qualification] }}
              </option>
            </select>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@institution">
              Institution
            </label>
            <input type="text" value="{{ toP(r).institution }}">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@postalCodeOfLocation">
              Postleitzahl des Standortes
            </label>
            <input type="text" value="{{ toP(r).address.postalCode }}">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@researchGroup">
              Forschungsgruppe
            </label>
            <input type="text" value="{{ toP(r).researchGroup }}">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@area">
              Bereich
            </label>
            <input type="text" value="{{ personnelAreaToDE[toP(r).area] }}">
            <span class="input-field-focus"></span>
          </div>
          <div class="form-block__boxes">
            <div i18n="@@_questionExperienceWithPCR">Haben Sie Erfahrung in der Durchführung von PCR und Real-Time PCR?</div>
            <label>
              <span i18n="@@yes">Ja</span>
              <input name="experienceWithPCR{{gIndex}}" type="radio" [checked]="toP(r).experienceWithPCR"/>
            </label>
            <label>
              <span i18n="@@no">Nein</span>
              <input name="experienceWithPCR{{gIndex}}" type="radio" [checked]="!toP(r).experienceWithPCR"/>
            </label>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@comments_s1s">
              Anmerkungen (z.B. S1 oder S2-Unterweisung vorhanden, medizinische Qualifikation zur Abstrichentnahme vorhanden)
            </label>
            <textarea>{{ toD(r).notes }}</textarea>
            <span class="input-field-focus"></span>
          </div>
          <div>
            <input type="checkbox" checked disabled>
            <label i18n="@@_declarationVoluntaryWork">
              Hiermit wird bestätigt, dass der Helfer die Tätigkeit ehrenamtlich außerhalb der Arbeitszeiten ausführt.
            </label>
          </div>
        </div>

        <div *ngIf="r.type === 'device'" class="form-block">
          <div class="form-block__select">
            <label i18n="@@category">
              Kategorie
            </label>
            <div class="value-field">{{ deviceCategoryToDE[toD(r).category] }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@exactName">
              Exakte Materialbezeichnung
            </label>
            <div class="value-field">{{ toD(r).name }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@manufacturer">
              Hersteller
            </label>
            <div class="value-field">{{ toD(r).manufacturer }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@orderOrSerialNumber">
              Bestell- oder Seriennummer
            </label>
            <div class="value-field">{{ toD(r).orderNumber }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@postalCodeOfLocation">
              Postleitzahl des Standortes
            </label>
            <div class="value-field">{{ toD(r).address.postalCode }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@amount">
              Menge
            </label>
            <div>
              <div class="value-field">{{ toD(r).amount }}</div>
            </div>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@comments">
              Anmerkungen
            </label>
            <div class="value-field value-field--multi-line">{{ toD(r).notes }}</div>
          </div>
        </div>

        <div *ngIf="r.type === 'consumable'" class="form-block">
          <div class="form-block__select">
            <label i18n="@@category">
              Kategorie
            </label>
            <div class="value-field">{{ consumableCategoryTo[toC(r).category] }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@exactName">
              Exakte Materialbezeichnung
            </label>
            <div class="value-field">{{ toC(r).name }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@manufacturer">
              Hersteller
            </label>
            <div class="value-field">{{ toC(r).manufacturer }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@orderOrSerialNumber">
              Bestell- oder Seriennummer
            </label>
            <div class="value-field">{{ toC(r).orderNumber }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@postalCodeOfLocation">
              Postleitzahl des Standortes
            </label>
            <div class="value-field">{{ toC(r).address.postalCode }}</div>
          </div>

          <div class="form-block__input-field">
            <label i18n="@@amount">
              Menge
            </label>
            <div>
              <div class="value-field">{{ toC(r).amount }} {{ unitTo[toC(r).unit] }}</div>
            </div>
          </div>
          <div class="form-block__input-field">
            <label i18n="@@comments">
              Anmerkungen
            </label>
            <div class="value-field value-field--multi-line">{{ toC(r).notes }}</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</main>
