<div class="page-head" >
    <div class="container">
        <h2 class="page-title" i18n="@@needs">Benötigte Ressourcen</h2>
    </div>
</div>

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">

            <div class="form-block need-search__filter">
                <div class="form-block__select">
                    <select (change)="onSubmit(categoryType,null)" [(ngModel)]="categoryType">
                        <option *ngFor="let category of getEnumValues(ConsumableCategory)" [value]="category">
                            {{ consumableCategoryToDE[category] }}
                        </option>
                    </select>
                </div>
                <div class="form-block__select">
                    <select (change)="onSubmit(null, categoryType)" [(ngModel)]="categoryType">
                        <option *ngFor="let category of getEnumValues(DeviceCategory)" [value]="category">
                            {{ deviceCategoryToDE[category] }}
                        </option>
                    </select>
                </div>
                <div class="form-block__select">
                    <select [(ngModel)]="filter.name" [disabled]="!Uniqs.name.size">
                        <option value="" disabled selected i18n="@@chooseName">Materialbezeichnung auswählen</option>
                        <option *ngFor="let n of Uniqs.name" [value]="n">
                            {{ n }}
                        </option>
                    </select>
                </div>
                <div class="form-block__select">
                    <select [(ngModel)]="filter.manufacturer" [disabled]="!Uniqs.manufacturer.size">
                        <option value="" disabled selected i18n="@@chooseManufacturer">Hersteller auswählen</option>
                        <option *ngFor="let n of Uniqs.manufacturer" [value]="n">
                            {{ n }}
                        </option>
                    </select>
                </div>
            </div>
            <!-- TODO Loader GIF -->
            <app-need-search-result
                    *ngIf="results"
                    [type]="searchType"
                    [searchResults]="results"
            ></app-need-search-result>
        </div>
    </div>
</main>
