<div class="page-head" >
    <div class="container">
        <h2 class="page-title" i18n="@@needs">Benötigte Ressourcen</h2>
    </div>
</div>

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">

            <div class="need-search__filter"></div>

            <input [(ngModel)]="searchText" placeholder="search text goes here">
            <table class="need-search__results">
            <thead>
                <th>Gegenstand</th>
                <th>Anzahl</th>
                <th>PLZ</th>
            </thead>
                <ng-container *ngFor="let device of this.devices;">
                    <tbody *ngFor="let resource of device.resources | filterpipe:searchText" class="need-search__results-element" [ngClass]="'result-' + resource.category">
                    <tr>
                        <td>{{ deviceCategoryToDE[resource.category] }}</td>
                        <td>{{ resource.amount }}</td>
                        <td>{{ device.searcher.postalCode }}</td>
                    </tr>
                    <tr></tr>
                    </tbody>
                </ng-container>
                <ng-container *ngFor="let consumable of this.consumables;">
                    <tbody *ngFor="let resource of consumable.resources;" class="need-search__results-element"
                           [ngClass]="'result-' + resource.category"
                    >
                    <tr>
                        <td>{{ consumableCategoryToDE[resource.category] }}</td>
                        <td>{{ resource.amount }} {{ uniToDE[resource.unit] }}</td>
                        <td>{{ consumable.searcher.postalCode }}</td>
                    </tr>
                    <tr></tr>
                    </tbody>
                </ng-container>
            </table>
        </div>
    </div>
</main>
