<div class="form-block form-block--full-width container">
  <div class="form-block__input-wrapper">
    <label>
      <span i18n>Couldn't find the needed resource?</span>
    </label>
    <div *ngIf="submitted" i18n>
      Thank you for your interest. We will send you a email to {{ data.email }} when there
      are new resources around {{ data.postalCode }}.
    </div>
    <ng-container *ngIf="!submitted">
      <div i18n>
        You can register using the form below. Then, we will notifice you via email when there are new offers in your region.
      </div>
      <div class="form-block__input-field">
        <input type="text" i18n-placeholder="@@name" placeholder="Name" [(ngModel)]="data.name">
        <span class="input-field-focus"></span>
        <span class="form-alert" *ngIf="!data.name" i18n="@@requiredField">
        Mandatory
      </span>
      </div>
      <div class="form-block__input-field">
        <input type="text" i18n-placeholder="@@institution" placeholder="Institution" [(ngModel)]="data.institution">
        <span class="input-field-focus"></span>
        <span class="form-alert" *ngIf="!data.institution" i18n="@@requiredField">
        Mandatory
      </span>
      </div>
      <div class="form-block__input-field">
        <input type="email" i18n-placeholder="@@email" placeholder="Email" email [(ngModel)]="data.email">
        <span class="input-field-focus"></span>
        <span class="form-alert" *ngIf="!data.email" i18n="@@requiredField">
        Mandatory
      </span>
      </div>
      <div class="form-block__input-field">
        <input type="text" i18n-placeholder="@@postalCode" placeholder="Postal code" [(ngModel)]="data.postalCode">
        <span class="input-field-focus"></span>
        <span class="form-alert" *ngIf="!data.postalCode" i18n="@@requiredField">
        Mandatory
      </span>
      </div>
      <div>
        <input [(ngModel)]="checkedDatenschutz" type="checkbox">&nbsp;
        <label i18n="@@_agreeingToPrivacyPolicy">
          I hereby affirm that I have read the <a href="{{ localeService.baseHref }}datenschutz" target="_blank">
          Privacy Policy</a>
          and that I agree to it.
        </label>
        <span *ngIf="!checkedDatenschutz" class="form-alert" i18n="@@requiredField">
          Mandatory
        </span>
      </div>

      <app-re-captcha-wrapper (resolved)="resolved($event)"></app-re-captcha-wrapper>

      <div class="form-alert" *ngIf="error" i18n="@@_pleaseCheckInput">
        Please check the input.
      </div>
      <div class="submit-button">
        <button class="button" (click)="onSubmit()" [disabled]="!recaptcha || !isValid()" i18n="@@register">
          Register
        </button>
      </div>
    </ng-container>
  </div>
</div>
