<ng-container>
  <div class="page-head">
    <div class="container">
      <h2 class="page-title">Frequently Asked Questions</h2>
    </div>
  </div>

  <main class="main-content">
    <div class="fullwidth-block">
      <div class="container">

        <div *ngIf="localeService.language === 'de'">
          <h2>Tutorials</h2>
          <div class="tutorial-list">
            <div>
              <h4>Angebot einstellen</h4>
              <iframe
                src="https://www.youtube.com/embed/wQK1c2MgbN4"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div>
              <h4>Suchanfrage stellen</h4>
              <iframe
                src="https://www.youtube.com/embed/CB23LKsOuz0"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>

        <div *ngIf="localeService.language !== 'de'">
          <h2>Tutorials</h2>
          <div class="tutorial-list">
            <div>
              <h4>Create Offer</h4>
              <iframe
                src="https://www.youtube.com/embed/Pzh8KgdHhWg"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div>
              <h4>Search Request</h4>
              <iframe
                src="https://www.youtube.com/embed/WUcewO8dI9A"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>

        <div class="row">
          <div
            class="col-md-8 long-static-text"
            markdown
            src="/assets/content/faq/faq.{{localeService.region}}_{{localeService.language}}.md"
          >
          </div>
        </div>
      </div>
    </div>
  </main>
</ng-container>
