<div class="page-head">
  <div class="container">
    <h2 class="page-title" i18n="@@contact">Contact</h2>
  </div>
</div>

<main class="main-content">
  <div class="fullwidth-block">
    <div class="container">
      <div class="row">
        <p i18n>
          If you have any questions, requests or suggestions, please contact us. Send us an email to <a href="mailto:mail@pirat-tool.com">mail@pirat-tool.com</a> or use the contact form, we will get back to you as soon as possible by email or phone!
        </p>

        <div class="form-block">
          <div *ngIf="callBackSubmit" class="info-box" i18n>
            Thank you very much for your contact request, we will get back to you shortly.
          </div>
          <ng-container *ngIf="!callBackSubmit">
            <div class="form-block__label" i18n>
              Request a callback
            </div>
            <div class="form-block__input-field">
              <input type="text" placeholder="Name" i18n-placeholder="@@name" [(ngModel)]="requestData.name">
              <span class="input-field-focus"></span>
              <span *ngIf="!requestData.name" class="form-alert" i18n="@@requiredField">
                  Mandatory
                </span>
            </div>

            <div class="form-block__input-field">
              <input type="text" placeholder="Phone number" i18n-placeholder="@@phoneNumber" [(ngModel)]="requestData.phone">
              <span class="input-field-focus"></span>
              <span *ngIf="!requestData.phone" class="form-alert" i18n="@@requiredField">
                  Mandatory
                </span>
            </div>

            <div class="form-block__input-field">
              <input type="email" placeholder="Email" i18n-placeholder="@@emailAddress" [(ngModel)]="requestData.email">
              <span class="input-field-focus"></span>
            </div>

            <div class="form-block__select">
              <label>
                <span i18n="@@topic">Topic</span>
              </label>
              <select [(ngModel)]="requestData.topic">
                <option value="technicalQuestion" i18n>Technical Question</option>
                <option value="topicalQuestion" i18n>Fachliche Question</option>
                <option value="otherQuestion" i18n>Other Question</option>
              </select>
              <span *ngIf="!requestData.topic" class="form-alert" i18n="@@requiredField">
                  Mandatory
                </span>
            </div>

            <div class="form-block__input-field">
              <input type="text" placeholder="Comments" i18n-placeholder="comments" [(ngModel)]="requestData.notes">
              <span class="input-field-focus"></span>
            </div>

            <div>
              <input [(ngModel)]="checkedDatenschutz" type="checkbox">
              <label i18n="@@_agreeingToPrivacyPolicy">
                I hereby affirm that I have read the <a href="/datenschutz" target="_blank">Privacy Policy</a>
                and that I agree to it.
              </label>
              <span *ngIf="!checkedDatenschutz" class="form-alert" i18n="@@requiredField">
                  Mandatory
                </span>
            </div>

            <app-re-captcha-wrapper (resolved)="resolved($event)"></app-re-captcha-wrapper>
            <div class="submit-button align-center align-center-text">
              <button class="button" (click)="onSubmit()" [disabled]="!recaptcha || !isValid()" i18n="@@sendRequest">
                Submit request
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>
